.wrapper {
	position:relative;
	width:1020px;
	margin:0 auto;
	box-shadow: 0 0px 10px rgba(64, 161, 230, 0.68);
	-webkit-box-shadow: 0 0px 10px rgba(64, 161, 230, 0.68);
	-moz-box-shadow: 0 0px 10px rgba(64, 161, 230, 0.68);
	-ms-box-shadow: 0 0px 10px rgba(64, 161, 230, 0.68);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
}
body {
	background-color:rgba(167, 205, 216, 0.62);
}
header{
	position:relative;
	border-bottom:1px solid rgba(147, 183, 199, 0.48);
	height:90px;
	box-shadow: 0 1px 30px -4px rgba(195, 206, 208, 0.68);
	background-color:white;
}
.head-info {
	float:left;
	line-height:90px;
	font-size:22px;
	color: #284B77;
	padding-left:10px;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25);
}
.herder-right-bottom {
	position:absolute;
	bottom:2px;
	right:2px;
	cursor:pointer;
}
a {
	text-decoration:none;
	color:#5BB5E2;
}
.content {
	position:relative;
	width:100%;
	min-height:700px;
	background-position:0 0;
	background-size:100% auto;
	background-repeat:no-repeat;
}
.content .left,.content .right{
	position:absolute;
	top:50%;
	height:30px;
	width:30px;
	border-left:2px solid #65B2CA;
	border-right:2px solid #65B2CA;
	border-radius:8px;
	color:#09F9DC;
	font-size:30px;
	text-align:center;
	cursor:pointer;
	line-height:25px;
}
.left {
	left:10px;
}
.right{
	right:10px;
}
.footer{
	position:relative;
	bottom:0;
	border-top:1px solid rgba(147, 183, 199, 0.48);
	box-shadow: 0 -1px 30px -4px rgba(195, 206, 208, 0.68);
	background-color:white;
}
.footer p {
	margin:0;
	text-align:center;
	line-height:1.5;
}
